.heartToggleToggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.heartToggleInput {
    display: none;
}

.heartToggleIcon {
    width: 1.5rem;
    height: 1.5rem;
}
