@import "../../styles/variables.css";

.filterToggleToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 112px;
    height: 96px;
    border: 1px solid var(--color-gray-200);
    border-radius: 1rem;
    background-color: var(--color-white);
    color: #111827;
    cursor: pointer;
    transition:
        border-color 0.2s ease,
        background-color 0.2s ease;
    user-select: none;
    text-align: center;
    font-weight: 500;
    padding: 1rem 2rem;
}

.filterToggleToggle:hover {
    background-color: var(--color-gray-50);
}

.filterToggleChecked {
    border-color: var(--color-red-500);
}

.filterToggleInput {
    display: none;
}

.filterToggleIcon {
    width: 2rem !important;
    height: 2rem !important;
}

.filterToggleLabel {
    line-height: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
}
