@import "../../styles/variables.css";

.campersListContainer {
    display: flex;
    flex-direction: column;
}

.campersListSpinner {
    width: 3rem;
    height: 3rem;
    align-self: center;
}

.campersListList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.campersListItem {
    border-radius: 1.5rem;
    overflow: hidden;
}

.campersListLoadMoreWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
