@import "../../styles/variables.css";

.camperListCardCard {
    display: flex;
    gap: 1.5rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.camperListCardImage {
    width: 290px;
    height: 310px;
    border-radius: 1rem;
    flex-shrink: 0;
}

.camperListCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 1rem;
}

.camperListCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.camperListCardHeaderRight {
    display: flex;
    align-items: center;
}

.camperListCardTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-black);
    margin: 0;
}

.camperListCardPrice {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-black);
    margin-right: 1rem;
}

.camperListCardDescription {
    font-size: 0.875rem;
    color: var(--color-gray-700);
    margin: 0 0 0.75rem;
}

.camperListCardButtonContainer {
    align-self: flex-start;
}
