@import "../../styles/variables.css";

.reviewsList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reviewsReview {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.reviewsHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.reviewsAvatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-gray-100);
    color: var(--color-red-500);
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewsName {
    font-weight: 600;
    margin: 0;
    color: var(--color-black);
}

.reviewsStars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.2rem;
}

.reviewsComment {
    font-size: 0.95rem;
    color: var(--color-gray-800);
    line-height: 1.5;
}
