.detailsPageContainer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detailsPageTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-black);
}

.detailsPageMeta {
    font-size: 0.9rem;
    color: var(--color-gray-700);
}

.detailsPagePrice {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-black);
}

.detailsPageNotice {
    align-self: flex-start;
}

.detailsPageDescription {
    font-size: 0.95rem;
    color: var(--color-gray-800);
    line-height: 1.5;
}

.detailsPageTab {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.detailsPageOutlet {
    max-width: 600px;
    display: flex;
    flex: 1;
    position: relative;
}

.detailsPageOutletLoading {
    position: absolute;
    left: calc(50% - 25% / 2);
    top: calc(50% - 25% / 2);
}
