.dp_01 {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dp_09 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-black);
}

.dp_03 {
    font-size: 0.9rem;
    color: var(--color-gray-700);
}

.dp_07 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-black);
}

.dp_04 {
    align-self: flex-start;
}

.dp_02 {
    font-size: 0.95rem;
    color: var(--color-gray-800);
    line-height: 1.5;
}

.dp_08 {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.dp_05 {
    max-width: 600px;
    display: flex;
    flex: 1;
    position: relative;
}

.dp_06 {
    position: absolute;
    left: calc(50% - 25% / 2);
    top: calc(50% - 25% / 2);
}
