@import "../../styles/variables.css";

.navbarNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-50);
    padding: 1rem 2rem;
    position: relative;
}

.navbarLogo {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-black);
}

.navbarLinks {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--font-weight-medium);
}

.navbarLink {
    text-decoration: none;
    color: var(--color-gray-800);
    transition: color 0.2s ease;
}

.navbarLink:hover {
    color: var(--color-black);
}

.navbarActive {
    color: var(--color-red-500);
}
