@import "../../styles/variables.css";

.filterToggleGroupGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
    border-bottom: 1px solid var(--color-gray-200);
}

.filterToggleGroupTitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-black);
}

.filterToggleGroupList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
